<%= div_for answer do %>
  <p><%= answer.body %></p>

  <% if current_user && current_user.author_of?(answer) %>
    <p><%= link_to 'Edit answer', edit_answer_path(answer) %></p>
    <p><%= link_to 'Delete answer', answer, method: :delete, remote: true %></p>
  <% end %>
<% end %>
